
@media only screen 
and (max-device-width: 600px) {

  #mobileNav {
    display: block;
    padding: 2rem 0;
    text-align: center;
    color: var(--primary);
  }

  .nav-link {
    color: var(--primary) !important;
  }

  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--brand) !important;
  }

  .myNavBar {
    display: none;
  }

  .navbar-toggler{
    margin: 0 auto;
  }

  main {
    text-align: center;
  }

  #logo {
    width: 100px;
    height: auto;
    margin: 0 auto;
  }

  #logo img {
    float: none;
    width: 100%;
  }

  #logo h1{
    margin-top: 0.5rem;
    display: grid;
  }

  .container {
    width: 100%;
  }

  #postsPage {
    width: 100% !important;
  }

  .editBtn,
  .deleteBtn{
    float: left;
  }

  .deleteBtn {
    margin-left: 1rem;
  }

  .footer {
    font-size: 0.6rem;
  }

}